.todoTask {
    display: flex;
    flex: 30%;
    border-bottom: 2px solid purple;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 23px;
}


input {
    display: flex;
    width: 200px;
    height: 40px;
    border: none;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    padding-left: 10px;
    border-bottom: 3px solid red;
    flex-direction: column;
}


button {
    width: 70px;
    height: 87px;
    border: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    padding-left: 8px;
    background-color: brown;
}